<!-- <template id="menuTemplate">
    <style>
        :host {
            display: block;
        }

        .dropdown-menu-content[aria-expanded="false"] {
            display: none;
        }

        .dropdown-menu-content[aria-expanded="true"] {
            padding-left: 0;
            display: block;
            background: white;
            height: auto;
            min-width: 100px;
            border: 1px solid black;
            border-right: 2px solid black;
            border-bottom: 2px solid black;
            z-index: 1000;
            position: absolute;
        }

        .dropdown-menu-content[aria-expanded="true"] li {
            padding-left: 1rem;
        }

        .dropdown-menu-content[aria-expanded="true"] li a,
        .dropdown-menu-content[aria-expanded="true"] li a:visited {
            color: black;
            text-decoration: none;
            font-size: 14px;
        }

        .dropdown-menu-content[aria-expanded="true"] li:hover {
            color: white;
        }

        .dropdown-menu-content[aria-expanded="true"] li:last-child {
            padding-bottom: 5px;
        }

        .is-clicked:hover {
            background: transparent black;
            overflow: hidden;
            animation: 0.07s 5 alternate slide-in;
        }

        @keyframes slide-in {
            from {
                background: black;
                color: white;
            }

            to {
                background: white;
                color: black;
            }
        }
    </style>


    <button id="retro-mac-menu">
        <slot name="menuTitle"></slot>
    </button>
    <div class="dropdown-menu-content" aria-expanded="false">
    <slot name="menuList"></slot>
    </div>
</template>

<script>
    debugger;
    class MacDropdown extends HTMLElement {
        constructor() {
            super();
            this._count = 0;
            this._listItems = [];
            // Attach a shadow DOM to the custom element
            const shadowRoot = this.attachShadow({ mode: "open" });
            // Create a template for the component's content
            const template = document.getElementById("menuTemplate");
            // Append the template content to the shadow DOM
            shadowRoot.appendChild(template.content.cloneNode(true));
        }

        get count() {
            return this._count;
        }

        set count(value) {
            this._count = value;
            // this.render();
        }


        get listItems() {
            return this._listItems;
        }

        set listItems(value = '[]') {
            this._listItems = JSON.parse(value);
        }

        // Define observed attributes to react to changes
        static get observedAttributes() {
            return ["name"];
        }

        // Callback for when observed attributes change
        attributeChangedCallback(name, oldValue, newValue) {
            if (name === "name") {
                const slot = this.shadowRoot.querySelector(
                    'slot[name="greeting-name"]',
                );
                if (slot) {
                    slot.textContent = newValue;
                }
            }
        }

        handleClick() {
            debugger;
        }

        // Callback when the element is added to the DOM
        connectedCallback() {
            const listItems = this.getAttribute('data-list');
            this.listItems = listItems;

            debugger;
            this.shadowRoot?.getElementById('retro-mac-menu')?.addEventListener('click', () => {
                const dropDownMenuEl = this.shadowRoot?.querySelector('.dropdown-menu-content');
                const currentAriaStatus = dropDownMenuEl?.getAttribute("aria-expanded");
                 dropDownMenuEl?.setAttribute(
                "aria-expanded",
                currentAriaStatus === "true" ? "false" : "true",
            );
            });


            // Set initial content for the slot based on the 'name' attribute
            const initialName = this.getAttribute("name") || "Default Name";
            const slot = this.shadowRoot.querySelector(
                'slot[name="greeting-name"]',
            );
            if (slot) {
                slot.textContent = initialName;
            }
        }
    }

    // Define the custom element
    customElements.define("retro-mac-menu", MacDropdown);
</script> -->