.resizeWindowBox {
    // border: 2px solid black;
    width: 1rem;
    height: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right:0.06rem;
    margin-top: 0.1rem;;
    background-color: rgb(238, 238, 238);
    border: 1px solid black;
    box-sizing: content-box;

    .bigInnerBox {
        width: 0.9rem;
        height: 0.9rem;
        border-bottom: 2px solid rgb(98, 98, 133);
        border-right: 2px solid rgb(98, 98, 133);
        border-left: 1px solid rgb(137, 137, 173);
        border-top: 1px solid rgb(137, 137, 173);
        background-color: rgb(191, 191, 191);

        &:before {
            content: " ";
            border-bottom: 2px solid rgb(98, 98, 133);
            border-right: 2px solid rgb(98, 98, 133);
            border-left: 1px solid rgb(137, 137, 173);
            border-top: 1px solid rgb(137, 137, 173);
            background-color: rgb(204, 204, 244);
            width: 0.35rem;
            height: 0.35rem;
            display: block;
        }
    }
}