.dropdownMenu {


    .dropdownMenuContent {
        &[aria-expanded="false"] {
            display: none;
        }

        &[aria-expanded="true"] {
            padding-left: 0;
            display: block;
            background: white;
            height: auto;
            // min-height: 30px;
            min-width: 100px;
            border: 1px solid black;
            border-right: 2px solid black;
            border-bottom: 2px solid black;
            z-index: 1000;
            position: relative;
            

            li {
                padding-left: 1rem;

                a, a:visited {
                    color: black;
                    text-decoration: none;
                    font-size: 14px;
                }

                &:hover {
                    color: white;
                }

                &:last-child {
                    padding-bottom: 5px;
                }
            }
        }

    }
}


:global(.is-clicked) {
     
      &:hover {
        background: transparent black;
        overflow: hidden;
        // width: 100%;
      }
 animation: 0.07s 5 alternate slide-in;
}

@keyframes slide-in {
    from {
        background: black;
        color: white;
    }

    to {
        background: white;
        color: black
    }
}