
@mixin noStyleButton {
  background: transparent;
  font-family: "Chicago", sans-serif;
  font-size: 1rem;
  padding: 0 0.6rem;
  border: none;
  cursor: pointer;
  height: 100%;

  &:active,
  &:hover {
    background: black;
    color: white;
  }
}