@use '../../styles/mixins' as *;


:global(#mainContent) {
    height: 100%;
    width: 100%;
}


div::-webkit-scrollbar {
    width: 20px;
    height: 20px;
}

div::-webkit-resizer {
    width: 2.6rem;
    height: 0.4rem;
    position: absolute;
    bottom: 0;
    right: -50px;
    background-image: url("classic/assets/resize-button.png");
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid black;
    z-index: 999;
}

div::-webkit-scrollbar-thumb {
    background: rgb(166, 166, 201);
    border-right: none;
    box-sizing: content-box;
    width: 20px;
    border-top: 1px solid black;
    border-bottom: 2px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

div::-webkit-scrollbar-button:horizontal:end:increment,
div::-webkit-scrollbar-button:horizontal:start:decrement,
div::-webkit-scrollbar-button:vertical:end:increment,
div::-webkit-scrollbar-button:vertical:start:decrement {
    display: block;
}

div::-webkit-scrollbar-button:vertical:start {
    background-image: url("classic/assets/arrow-up-2.png");
    background-size: 20px 20px;
    background-repeat: no-repeat;
    height: 20px;
}

div::-webkit-scrollbar-button:vertical:start:active {
    background-image: url("classic/assets/arrow-up-2.png");
    background-repeat: no-repeat;
    height: 20px;
    background-size: 20px 20px;
}

div::-webkit-scrollbar-button:vertical:end {
    background-image: url("classic/assets/arrow-down-2.png");
    height: 20px;
    background-size: 20px 20px;
    width: 25px;
}

div::-webkit-scrollbar-button:vertical:end:active {
    background-image: url("classic/assets/arrow-down-2.png");
    background-repeat: no-repeat;
    height: 20px;
    background-size: 20px 20px;
    width: 25px;
}

div::-webkit-scrollbar-button:horizontal:start {
    background-image: url("classic/assets/arrow-left-2.png");
    height: 20px;
    width: 25px;
}

div::-webkit-scrollbar-button:horizontal:start:active {
    background-image: url("classic/assets/arrow-left-2.png");
    background-repeat: no-repeat;
    height: 20px;
    width: 25px;
}

div::-webkit-scrollbar-button:horizontal:end {
    background-image: url("classic/assets/arrow-right-2.png");
    height: 20px;
    width: 25px;
}

div::-webkit-scrollbar-track {
    background: radial-gradient(circle, #b0b0b0 20%, transparent 20%),
        radial-gradient(circle, #b0b0b0 20%, transparent 20%);
    background-size: 6px 6px;
    /* Smaller dots */
    background-position: 0 0, 3px 9px;
    /* Staggered effect */
    background-color: #d0d0d0;
    /* Track background */
}

:host([aria-hidden="true"]) {
    display: none;
    /* higher specificity than :host, so it wins */
}

:host([data-active="true"]) {
    .macintosh-window__window {
        z-index: 2000;
    }
}

:host([data-active="false"]) {
    z-index: 1;
    user-select: none;

    .macintosh-window {



        &__body {
            // overflow: hidden;
            resize: none;

            &::-webkit-scrollbar-track {
                background: white;
                // border: 1px solid black;
            }

            &::-webkit-scrollbar-button,
            &::-webkit-scrollbar {
                background: white;
            }
        }

        &__background {
            background: white;
        }

        &__header,
        &__middle-header {
            background: white;
            color: gray;

        }

        &__decor-line {
            opacity: 0;
        }
    }


}

:host {
    // background: red;
    width: 200px;
    height: 200px;
    display: block;

    .macintosh-window {

        &__window {
            z-index: 999;
            border-radius: 3px;
            position: relative;
            font-family: "Chicago", sans-serif;
            width: 300px;
            height: 400px;
            min-height: 220px;
            min-width: 400px;
            max-width: 400px;
            max-height: 350px;
            border-left: none;
            border-radius: 3px;

            &[aria-hidden="true"] {
                display: none;
            }
        }

        &__top-button {
            height: 19px;
            width: 15px;
            position: absolute;
            margin-left: 6px;
            border: none;
            border-top: 2px solid rgb(90, 90, 136);
            border-left: 2px solid rgb(90, 90, 136);
            border-bottom: 5px solid rgb(212, 212, 249);
            border-right: 2px solid rgb(212, 212, 249);
            background: rgb(179, 179, 224);
            padding: 0;
            overflow: none;

            &:before {
                @include BeforeSmallBox;
            }

            &--right {
                margin-right: 5px;
                right: 0;

                &:after {
                    @include BeforeSmallBox(4px, 4px);
                    position: absolute;
                    top: 0;
                }
            }
        }

        &__header {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            position: sticky;
            top: 0;
            background: white;
            border-right: 4px solid black;
            border-top: 2px solid black;
            border-left: 1px solid black;
            border-bottom: 1px solid rgb(25, 25, 27);
        }

        &__border {
            display: block;

            &--first {
                border-bottom: 2px solid rgb(137, 137, 173);
            }

            &--second {
                border-bottom: 1px solid black;
            }
        }

        &__middle-header {
            padding-left: 0.3rem;
            padding-right: 0.3rem;
            background-color: rgb(238, 238, 238);
            font-size: 16px;
            height: 15px;
            font-family: "Chicago", sans-serif;
            padding-bottom: 0.2rem;
            width: 100%;
            text-align: center;
            max-width: 120px;
        }

        &__background {
            position: absolute;
            height: 15px;
            width: 100%;
            position: relative;
            background-color: rgb(221, 221, 221);
            overflow: hidden;
            border-top: 1px solid rgb(221, 222, 252);
        }

        &__decor-line {
            align-items: center;
            background: linear-gradient(rgb(150, 150, 179) 50%, transparent 0);
            background-clip: content-box;
            background-size: 6.6666666667% 13.3333333333%;
            display: flex;
            flex: none;
            height: 15px;
            margin: 0.1rem 0;
            border-top: 1px solid rgb(149 151 209);
            border-bottom: 1px solid rgb(149 151 209);
        }

        &__main-content {
            height: 100%;
            min-height: 200px;
        }

        &__body {
            height: 100%;
            overflow: scroll;
            resize: both;
            background: white;
            border-right: 3.5px solid black;
            border-bottom: 3.5px solid black;
            border-left: 1px solid black;
            border-top: 1px solid black;
            max-width: 500px;
            max-height: 400px;
            min-width: 300px;
            min-height: 200px;
        }

        &__footer {
            flex-shrink: 0;
            flex-grow: 0;
            display: flex;
            bottom: 0;
            height: 20px;
            width: 100%;
            z-index: 10;
            background-color: rgb(238, 238, 238);
            justify-content: end;
            border-left: 1px solid black;
            border-top: 2px solid black;
            border-bottom: 3px solid black;
            margin-right: 2rem;
            border-right: 3px solid black;
        }
    }

}