main {
    height: 100%;
    // display: flex;
    width: 100%;
    // justify-content: center;
}

.container {
    height: 100%;

    div[aria-hidden="true"] {
        display: none;
    }
}

div[aria-hidden="true"] {
    display: none;
}

.mainWindow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 568px) {
        overflow: hidden;
    }

    .mainHeader {

        margin-top: 5px;
        margin-bottom: 5px;

        .patrick {
            margin-bottom: 0;
            color: rgb(76, 98, 199);
        }


    }

    h3 {
        margin-top: 0.3rem;
        margin-bottom: 0.3rem;
        font-size: 14px;
    }

    img {
        // border: 1px solid black;
    }

    div {
        margin-top: 0.3rem;
    }


}


.iconSection {
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: center;
    align-items: center;
    ;
    top: 50px;
    right: 20px;
    gap: 35px;
}

.welcome {
    font-weight: bold;
    font-family: "Geneva", sans-serif;
}

.selfportrait {
    // border: 3px solid black;
    border-radius: 2px;
}

.houseemoji {
    width: 1.2rem;
    height: 1.2rem;
}

.startupWindow {
    width: auto;
    height: 1000px;
    background: transparent;
    display: flex;
    justify-content: center;
    overflow: hidden;
    margin-top: 3%;

    .startingUpProgressBar {
        border: 1px solid black;
        margin-bottom: 2rem;
        margin-top: 1rem;

        &[value]::-webkit-progress-bar {
            background: rgb(66, 66, 66);
            border: 1px solid black;
        }

        &[value]::-webkit-progress-value {
            background: rgb(80, 98, 199);
        }
    }

    .patOsText1 {
        font-family: "EB Garamond", serif;
        font-size: 160px;
        padding-right: 20px;
    }

    .patOsText2 {
        font-family: "EB Garamond", serif;
        color: rgb(80, 98, 199);
        font-size: 200px;
    }

    .startupWindowContent {
        width: 700px;
        height: 600px;
        background: rgb(222, 222, 222);
        border: 1px solid black;
        border-right: 2px solid black;

        font-size: 22px;
        font-family: "Chicago", sans-serif;

        .startupWindowInnerContent {
            display: flex;
            flex-direction: column;
            justify-content: end;
            height: 100%;
            align-items: center;
            padding-bottom: 3rem;
        }
    }
}

.appsList {
    display: flex;
    flex-direction: row;
    gap: 30px;
    width: 100%;
    justify-content: center;
}

.appsListApp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    row-gap: 8px;
    font-weight: normal;

    span {
        font-family: "Geneva", sans-serif;
    }
}

.openAppDialog {
    position: fixed;
    z-index: 9999;
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &[aria-hidden="true"] {
        display: none;
    }
}

.dialogBoxFooter {
    display: flex;
    justify-content: flex-end;
}