:host {
    border: 1px solid black;
    box-shadow: 0 0 0 2px rgb(204, 204, 251), 0 0 0 2px rgb(187, 187, 187), 0 0 0 5px black;
    // border-radius: 1px;
    min-width: 400px;
    min-height: 200px;
    max-height: 400px;
    max-width: 600px;
    background: white;
    border: 1px solid black;

}

:host([aria-hidden="true"]) {
    display: none;
}

:host([aria-hidden="false"]) {
    display: block;
}

.macintosh-dialog-box {
    display: flex;
    background: white;
    min-width: 400px;
    min-height: 200px;
    max-height: 400px;
    max-width: 600px;
    overflow: auto;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    flex-direction: column;

    &__container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    &__icon-container {
        margin-right: 15px;
    }

    &__text-content {
        width: 350px;
        overflow-wrap: break-word;
    }

    &__footer {
        padding-bottom: 10px;
    }
}